.main-stories-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    max-height: 118vh;
}
.stories-container {
    display: flex;
    justify-content: center;
    overflow: scroll;
    height: 15vh;
    padding: 1%;
    border-radius: 3px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}
.stories-container::-webkit-scrollbar {
    display: none;
}
.image-frame {
    display: flex;
    width: 5vw;
    width: 100%;
    border-radius: 50%;
}
.image-frame img {
    width: 100%;
    padding: 3%;
    border-radius: 50%;
    background-image: linear-gradient( #CB3F98, #FBB37B);
}
.stories-button {
    background-color: white;
    border: grey;
}