.stories-main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600vw;
    max-height: 300vh;
}

.stories-container {
    display: flex;
    overflow: scroll;
    height: 15vh;
    width: 40vw;
    padding: 1%;
    border: 1px solid gray;
}
.stories-container::-webkit-scrollbar {
    display: none;
}

.stories-container img {
    height: 10vh;
    width: 5vw;
}
.stories-pic {
    position: relative;
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin: 1%;
    border: 3px solid #CB3F98;
}
.stories-pic:after {
    position: absolute;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    content: "";
    background-color: #fff;
    width: 10%;
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
}