@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

* {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.post {
    background-color: rgb(240, 240, 240);
    height: 800px;
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 0.2em;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
} 
.icon {
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-color: black;
    border-radius: 30px;
    display: flex;
    margin: 0 20% 0 20%;
}

.postTop {
    display: flex;
    justify-content: space-between    
}
h3 {
    font-size: 15px;
    display: flex;
    line-height: 3;
    font-family: 'Source Sans Pro', sans-serif;
}
.meatballMenu {
    max-width: 30px;
}

/* .postDropDown {
    background-color: rgb(255, 255, 255, 0);
    border: none;
    display: flex;
    flex-wrap: wrap;
} */

.postPicture {
    width: 100%;
    height: auto;
}


.wartsbutton {
    background-color: rgb(255, 255, 255, 0);
    border: none;
    font-size: 25px;
}
.wartsbutton:active {
    transform: scale(1.1);
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(.17, .89, .32, 1.49);
}



.postIcons {
    display: flex;
    font-size:20px;
    width: 100%;
}

.icon1-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.bookmark {
    display: flex;
    justify-content: end;
    justify-self: end;
    align-items: center;
    padding-left: 55%;
    
}



.postDesciption {
    font-weight: 600;
}

.username {
    font-weight: 600;
}
.username:hover {    
    text-decoration: underline;
    cursor: pointer;
}






