nav {
    background-color: white;
    display: flex;
    justify-content: space-around; 
    padding-top: 1%;
    border-style: none none solid none;
    border-bottom:1px solid rgba(var(--b6a,219,219,219),1);
    width: 100%;
    position: fixed;
    z-index: 999;
    align-items: center;
}

.insta{
    width: 125px;
    padding-left: 44vh;

}.insta:active{
    opacity: 0.5;
}
nav ul {
    display: flex;
    justify-content: space-around;
    width: 250px;
    padding: 0% 5% 0% 5%;
    margin-top: 0;
}
nav ul li{
    list-style: none;
    width: 12%;
}
.search-bar[type="text"]{
    width: 200px;
    height: 25px;
    color: black;
    text-align: center;
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid lightgrey;
}
.search-bar[type="text"]:focus{
    text-align: left;
}.search{
    text-align: center;
    padding: 0%; 
}

.search-bar {
    filter: grayscale(100%);
}
.links{
    padding-right: 46vh;
}
.profilePic {
    position: center;
    height: auto;
    border-radius: 50%;
    width: 100%;
    margin: 1%;
    border: 1px solid #CB3F98;
    width: 22px;
    height: 22px;
}

@media (max-width:414px) {
    .search{
        display: none;
    }
    .links {
        margin-left: 5%;
    }
    nav {
        padding-top: 3%;
    }
}

.links svg {
    width: 22px;
    height: 22px;
}