nav {
    background-color: rgb(218, 238, 222);
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    }
nav ul {
    display: flex;
    justify-content: space-around;
    }
nav ul li{
    list-style: none;
    padding: 5px 10px;
    }
nav li a {
    text-decoration: none;
    }
input[type="text"]{
    width: 100px;
    color: black;
}
.insta{
    width: 10%;
    height: 5%;
}