.main-stories-container {
    display: flex;
    max-width: 600vw;
    max-height: 300vh;
}
.stories-container {
    display: flex;
    justify-content: center;
    overflow: scroll;
    height: 15vh;
    width: 40vw;
    padding: 1%;
    border: 1px solid gray;
}
.stories-container::-webkit-scrollbar {
    display: none;
}
.image-frame {
    display: flex;
    width: 5vw;
    width: 100%;
    border-radius: 50%;
}
.image-frame img {
    width: 100%;
    padding: 3%;
    border-radius: 50%;
    background-image: linear-gradient( #CB3F98, #FBB37B);
}