.suggestedUsers { /*FLEX CONTAINER*/
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 18px;
   margin-bottom: 10px;
}

.suggestedUsers > #suggestedProfilePic { /*FLEX ITEM*/
   width: 15%;
   border-radius: 50%;
   border: 0.1px solid grey;
   box-sizing: border-box;
   display: block;
   margin-right: 5px;
   cursor: pointer;
   flex: 1;
}

img {
   cursor: pointer;
}

.suggestedUsersText a { /*FLEX ITEM*/
   text-decoration: none;
   color: rgba(var(--i1d,38,38,38),1);
   font-weight: 600;
   margin-left: 5px;
   flex: 3;
   padding-right: 10px;
}

a:hover {
   text-decoration: underline;
}

.suggestedUsersText > p { /*FLEX ITEM*/
   color: rgba(var(--f52,142,142,142),1);
   margin-left: 5px;
   font-size: 12px;
   flex: 3;
   padding-right: 10px;
}

button { /*FLEX ITEM*/
   background: none;
   border: none;
   cursor: pointer;
   font-size: 12px;
   line-height: 14px;
   font-weight: 600;
   color: rgba(var(--d69,0,149,246),1);
   flex: 1;
   text-align: center;
}