.all {
   width: 100%;
   max-width: 293px;
   /* margin: 0 auto; */
   padding: 0;
   box-sizing: border-box;
   position: fixed;
}


.userInfo { /*FLEX CONTAINER*/
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 18px;
   margin-bottom: 10px;
}

.userInfo > #userProfilePic { /*FLEX ITEM*/
   min-width: 56px;
   min-height: 56px;
   border-radius: 50%;
   border: 0.1px solid grey;
   box-sizing: border-box;
   display: block;
   margin-right: 5px;
   flex: 1;
}

.sidebarWrap {
   margin: 20px;
}

.userInfoText > a { /*FLEX ITEM*/
   text-decoration: none;
   color: rgba(var(--i1d,38,38,38),1);
   font-weight: 600;
   margin-left: 5px;
}
.userInfoText a:hover {
   text-decoration: underline;
}
 
.userInfoText > p { /*FLEX ITEM*/
   color: rgba(var(--f52,142,142,142),1);
   margin-left: 5px;
}


.suggestionBanner { /*FLEX CONTAINER*/
   display:flex;
   justify-content: space-between;
   padding-bottom: 4px;
   padding-top: 4px;
}

.suggestionBanner p { /*FLEX ITEM suggested for you*/
   display: block;
   flex: 5;
   font-weight: 600;
   font-size: 14px;
   color: rgba(var(--f52,142,142,142),1);
   line-height: 14px;
   
}
.suggestionBanner a { /*FLEX ITEM see all*/
   display: block;
   flex: 1;
   width: 100%;
   text-decoration: none;
   font-weight: 600;
   color: rgba(var(--i1d,38,38,38),1);
   font-size: 12px;
   line-height: 14px;
   text-align: center;
   cursor: pointer;
   padding-left: 25%;
}