body {
  background-color: rgba(var(--b3f,250,250,250),1);  
}

.main {
  display: flex;
}
.stories {
  width: 60%;
  padding-left: 25%;
  padding-top: 90px;
  margin-bottom: 24px;
}

.sidebar {
  width: 40%;
  padding-right: 15%;
  position: relative;
  top: -220px;  
}

.post {
  width: 60%;
  padding-left: 25%;
  float: left;
  margin-right: 28px;
  max-width: 614px;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}


.footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media(max-width:983px){
  .sidebar{
    display: none;
  }
  .post {
    width: 64%;
    padding-left: 18%;
  }
  .stories{
    width: 64%;
    padding-left: 18%;
  }
  .navbar{
    width: 100%;
  }
}

@media(max-width:48px){
  .sidebar{
    display: none;
  }
  .post {
    width: 437px;
  }
  .stories{
    width: 347px;
  }
  .navbar{
    width: 100%;
  }
}

@media (max-width:414px) {
  .post {
    width: 100%;
    padding: 0;
  }
  .stories {
    width: 100%;
    padding: 0;
  }
  .navbar {
    width: 100%;
    padding: 0;
  }
}



